@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

a {
  text-decoration: none;
}
.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(180deg, #fbf4f4, aqua);
  border-bottom: 1px solid #fbf4f4;
}
.logo_box {
  display: flex;
  align-items: center;
  margin-left: 5vw;
}
.App-logo {
  height: 10vmin;
  pointer-events: none;
  display: inline;
  margin-right: 0;
}
.logo_box h1 {
  margin-left: 0;
  color: aliceblue;
  font-family: "orbitron";
}

.navbar nav {
  margin-right: 10vw;
  display: flex;
}
.navbar nav button {
  font-size: 0.8em;
}
.addpost_btn {
  font-size: 1.5em !important ;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid turquoise;
  background-color: #fff;
  width: 10vw;
  height: 5vh;
}
.addpost_btn:hover {
  /* background-color: rgba(85, 141, 210, 0.827); */
  background-color: cadetblue;
}
.login_btn {
  cursor: pointer;
  border: 1px solid turquoise;
  background-color: #fff;
  border-radius: 5px;
  width: 10vw;
  height: 5vh;
}
.login_btn:hover {
  background-color: cadetblue;
}
.login_icon {
  padding-right: 5px;
}
.tothetop {
  cursor: pointer;
  position: fixed;
  right: 100px;
  bottom: 100px;
  border-radius: 50%;
  background-color: #fff;
  font-size: 40px;
}

/* 로그인 */
#wrapper-login {
  font-size: 50px;
  padding: 50px;
  color: #1ecad3;
}
#wrapper-login form * {
  /* border: 1px solid #000; */
}
.form-login {
  text-align: start;
  background-color: #fff;
  position: relative;
  width: 70vw;
  height: 30vh;
  margin: 0 auto;
  border: 2px solid #1ecad3;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_first_box{
  margin-right: 20px;
}
.login_first_box div, .login_first_box p{
  height: 9vh;
}
.login_first_box .pw-box{
  margin-top: 1px;
}
.form-login span {
  display: inline-block;
  text-align: end;
  width: 10vw;
  font-size: 20px;
  font-weight: bold;
  color: #1ecad3;
  margin-right: 1vw;
}
.form-login input {
  width: 20vw;
  height: 5vh;
  border: 1px solid #1ecad3;
  border-radius: 5px;
  font-size: 18px;
  padding-left: 5px;
  color: #666;
}
.btn-login {
  width: 13vw;
  height: 13vh;
  border: 1px solid #1ecad3;
  border-radius: 5px;
  background-color: #1ecad3;
  font-size: 15px;
  color: #fff;
  text-shadow: 1px 1px 0 #666;
  cursor: pointer;
  /* position: absolute; */
}
.btn-login:hover {
  background-color: azure;
  color: aqua;
  border: 3px solid;
  transition: 0.5s ease-out;
}
.login_error{
  color: red;
  background-color: #fff;
  border: 1px solid #1ecad3;
  border-radius: 10px;
  width: 70vw;
  margin: 0 auto;
}

/* 메인페이지 */
main {
  margin-left: 0;
  background: linear-gradient(180deg, aqua, #fbf4f4);
  position: relative;
  padding: 0 50px;
}

.wrap_box {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 0;
  padding-left: 0;
}

.odd {
  overflow: hidden;
  padding: 12px;
}

.inner {
  width: 100%;
  background: #fff;
  /* padding: 14px; */
  border-radius: 25px 25px 5px 5px;
  height: 450px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  overflow: hidden;
}

.post_img {
  width: 100%;
  min-height: 250px;
  max-width: 300px;
  max-height: 300px;
}
.user_img {
  max-width: 100px;
  max-height: 100px;
}

.inner .first_box {
  font: bold 0.5rem/1 "orbitron";
  letter-spacing: 1px;
  color: #444;
  /* margin-bottom: 5px; */
}
.all_user_img {
  width: 50%;
  border-radius: 50%;
}

.inner .second_box {
  font: 10px/1.2 "arial";
  color: #777;
  margin-bottom: 15px;
}
.like_btn {
  cursor: pointer;
  display: inline;
}

.red {
  color: red;
}

@media screen and (max-width: 1290px) {
  .wrap_box {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 899px) {
  .wrap_box {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 799px) {
  .wrap_box {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 699px) {
  .wrap_box {
    grid-template-columns: repeat(2, 1fr);
  }
  .inner .first_box {
  }
  .all_user_img {
    width: 30%;
  }
}

@media screen and (max-width: 550px) {
  .App-logo {
    display: none;
  }
  .wrap_box {
    grid-template-columns: repeat(1, 1fr);
  }
  .inner {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .first_box p {
    position: relative;
    top: -20vw;
    font-size: 1.5rem;
  }
  .all_user_img {
    width: 75%;
  }
  .first_box h4 {
    width: 20%;
  }

  .like_btn {
    position: absolute;
    bottom: 10vw;
    right: 10vw;
  }
  .post_img {
    height: 100%;
    min-width: 300px;
    min-height: 300px;
    margin-left: 5px;
    border-radius: 5px;
  }
}

.box_more {
  position: relative;
  height: 100px;
  text-align: center;
}

.more_button {
  width: 100px;
  height: 100px;
}

/* 디테일 */
.detail_wrap_box {
  position: relative;
  border: 1px solid #333;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin: 0 auto;
  width: 80%;
}
.go-back {
  cursor: pointer;
  font-size: 40px;
  position: absolute;
  left: 5px;
}

.detail_first_box {
  /* font: 10px/1.2 "arial"; */
  font: bold 11px/1 "orbitron";

  margin-bottom: 20px;
  border-bottom: 1px solid #333;
}
.detail_first_box img {
  border-radius: 50%;
}

/* 모달 */
.modal_box {
  background-color: rgba(255, 255, 255, 0.8);
  width: 30vw;
  height: 20vh;
  /* display: none; */
  position: fixed;
  left: 50%;
  top: 50;
  opacity: 0;
  z-index: -1;
  transform: translate(-50%, -50%);
}
.modalChange {
  transition: 0.5s;
  top: 50%;
  opacity: 1;
  z-index: 1;
  color: red;
}
.closebtn {
  width: 100%;
  height: 100%;
}

/* 포스트생성 addpost */
.sub_top_box, .form_wrapper {
  margin-top: 0;
  background: linear-gradient(180deg, aqua, #fff);
  height: 87vh;
}
.sub_top_box h2 {
  margin-top: 0;
  padding-top: 10px;
  color: cadetblue;
  font-family: "orbitron";
}
.add_wrap_box {
  /* color: aqua; */
}
.add_wrap_box input,
.add_wrap_box textarea {
  color: darkcyan;
}

.add_title {
  width: 450px;
  height: 32px;
  padding: 0 10px;
  font-size: 1rem;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid turquoise;
  font-weight: 800;
}
.add_write {
  width: 450px;
  height: 330px;
  padding: 10px;
  font-size: 1rem;
  resize: none;
  border: 1px solid turquoise;
  border-radius: 5px;
  font-weight: 700;
  /* color: aliceblue; */
}
/* .add_photo{
  width: 300px;
} */
.filebox .upload-name {
  display: inline-block;
  height: 40px;
  padding: 0 10px;
  vertical-align: middle;
  /* border: 1px solid #dddddd; */
  width: 300px;
  /* color: #999999; */
}
.filebox label {
  display: inline-block;
  padding: 10px 20px;
  color: cadetblue;
  vertical-align: middle;
  /* background-color: #fff; */
  cursor: pointer;
  /* height: 40px; */
  margin-left: 10px;
  width: 80px;
  height: 80px;
  border-radius: 10px;

  background-image: url("./camera.png");
  background-color: cadetblue;
  background-size: 50%;
  background-position: 50%;
  background-repeat: no-repeat;
  /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); */
}
.filebox label:hover {
  background-color: orange;
}
.filebox input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
.imgload {
  font-size: 1rem;
  padding: 0 10px;
  width: 320px;
  height: 50px;
}

.submit_btn {
  width: 300px;
  height: 100px;
  margin: 10px 0 50px 0;
  font-family: "orbitron";
  font-size: 2rem;
  background-color: #fff;
  cursor: pointer;
  border-radius: 10px;
}
.submit_btn:hover {
  background-color: orange;
  color: #fff;
}

.error_txt {
  color: #fff;
  margin: 0 auto;
  background-color: red;
  width: 470px;
  height: 50px;
  font-size: 1.5rem;
  display: none;
  border-radius: 10px;
  text-align: center;
  line-height: 50px;
}
