@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");


.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  display: block;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(180deg, #fbf4f4, aqua);

}


.tothetop {
  cursor: pointer;
  position: fixed;
  right: 100px;
  bottom: 100px;
  border-radius: 50%;
  background-color: #fff;
  font-size: 40px;
}


/* 로그인 */
.error_txt{
  color: red;
}




main {
  margin-left: 0;
  background: linear-gradient(180deg, aqua, #fbf4f4);
  position: relative;
}

.wrap_box{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0;
  padding-left: 0;
}

.odd {
  /* width: 20%; */
  /* float: left; */

  overflow: hidden;
  padding: 12px;
}

.odd .inner {
  width: 100%;
  background: #fff;
  /* padding: 14px; */
  border-radius: 25px;
  height: 450px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.odd .inner .post_img {
  width: 100%;
  /* max-width: 300px; */
  min-height: 150px;
}

.odd .inner .first_box {
  font: bold 11px/1 "orbitron";
  /* letter-spacing: 1px; */
  color: #444;
  margin-top: 15px;
  margin-bottom: 5px;
}
.first_box img {
  width: 50%;
  border-radius: 50%;
}

.odd .inner .second_box {
  font: 10px/1.2 "arial";
  color: #777;
  margin-bottom: 15px;
}
.odd .inner p {
  /* height: 100px; */
}

/* @media screen and (max-width: 1199px) {
} */

@media screen and (max-width: 899px) {
  .wrap_box{
    grid-template-columns: repeat(4, 1fr);
  }

}

@media screen and (max-width: 799px) {
  .wrap_box{
    grid-template-columns: repeat(3, 1fr);
  }
  
}

@media screen and (max-width: 699px) {
  .wrap_box{
    grid-template-columns: repeat(2, 1fr);
  }

}

@media screen and (max-width: 615px) {
  .wrap_box{
    grid-template-columns: repeat(1, 1fr);
  }
}

.box_more {
  position: relative;
  height: 100px;
  text-align: center;
}

.more_button {
  width: 100px;
  height: 100px;
}


/* 디테일 */
.go-back {
  cursor: pointer;
  font-size: 40px;
  position: absolute;
  left: 5px;
}










