.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  display: block;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ab li {
  border: 1px solid #000;
}

.tothetop {
  cursor: pointer;
  position: fixed;
  right: 100px;
  bottom: 100px;
  border-radius: 50%;
  background-color: #ffffff;
  font-size: 40px;
}
